<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cx</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="aboutme">关于我</a>
            </li>
        </ul>
    </header>
    <div class="content">
        <div class="inner">
            <h2>应用中心</h2>
            <!--<p>这里有很多有用的应用</p>-->
            <div class="app_box">
                <a class="app netdisk" href="/nuobel">
                    <span>不论何时</span><br /><span>你都不用担心</span><br/><span>忘记携带重要资料</span>
                </a>
                <!--<a class="app css3demo" href="/css3">
                    <h3>css3</h3>
                    <p>css3演示中心</p>
                </a>
                <a class="app canvas" href="/canvas">
                    <h3>canvas</h3>
                    <p>canvas技术示例</p>
                </a>
                <a class="app svg" href="/svg">
                        <div class="front">svg</div>
                        <div class="back">
                            <h3>svg</h3>
                            <p>初识svg</p>
                        </div>
                </a>
                <a class="app webgl">
                    <h3>webgl</h3>
                    <p>webgl技术探究</p>
                </a>-->
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>